body {
    
    background-image: url('img/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

h1 {
    font-family: KaiTi, "楷体";
    text-align: center;

}

h6 {

    text-align: right;

}



/* 菜单样式 */
.menu {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.menu button {
    display: block;
    width: 100px;
    background-color: #f4f4f4;
    border: none;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
}

/* 子菜单样式 */
.submenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    font-size: small;
}

/* 鼠标悬停时显示子菜单 */
.menu:hover .submenu {
    display: block;
}

.submenu a {
    display: block;
    color: #333;
    padding: 10px;
    text-decoration: none;
}

.submenu a:hover {
    background-color: #ddd;
}